<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
</head>
    <body>
        <div class="container"> 
        <h1 class="mt-5 mb-4">Edit Patient Information</h1>
        <button class="btn btn-dark btn-lg mb-3 hvr-float-shadow" onclick="location.href='/patients/<%=patient.id%>'">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
            </svg>
            Back To Patient List
        </button>
        <form class="edit-pt-form" action="/patients/<%=patient.id%>?_method=PUT" method="POST">
            <label class="pt-info" for="name">
                <strong>Name:</strong>
                <input class="form edit-pt-input" type="text" name="name" placeholder="name" value="<%=patient.name%>" />
            </label>
           
            <label class="pt-info"  for="birthday">
                <strong>Date of Birth:</strong>
                <input class="form edit-pt-input" type="date" name="birthday" placeholder="date of birth" min="1900-01-01" max="<%= new Date().toLocaleDateString('en-CA') %>" value="<%=patient.birthday%>" />
            </label>
          
                <label class="pt-info"  for="gender">
                    <strong>Select Gender:</strong>
                    <fieldset id="gender">
                        <label>
                            <input class="form edit-pt-input" type="radio" value="male" name="gender" checked="<%=patient.gender === 'male'%>"/>
                            Male
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#6B93A2" class="bi bi-gender-male" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M9.5 2a.5.5 0 0 1 0-1h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V2.707L9.871 6.836a5 5 0 1 1-.707-.707L13.293 2H9.5zM6 6a4 4 0 1 0 0 8 4 4 0 0 0 0-8z"/>
                            </svg>
                        </label>
            
                    <br/>
                    <label>
                        <input class="form edit-pt-input" type="radio" value="Female" name="gender" checked="<%=patient.gender === 'female'%>"/>
                        Female
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#F4ACB7" class="bi bi-gender-female" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1a4 4 0 1 0 0 8 4 4 0 0 0 0-8zM3 5a5 5 0 1 1 5.5 4.975V12h2a.5.5 0 0 1 0 1h-2v2.5a.5.5 0 0 1-1 0V13h-2a.5.5 0 0 1 0-1h2V9.975A5 5 0 0 1 3 5z"/>
                        </svg>
                    </label>
                    
                    <br/>
                    <label>
                        <input class="form edit-pt-input" type="radio" value="other" name="gender" checked="<%=patient.gender === 'other'%>"/>
                        Other
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#F5CB5C" class="bi bi-gender-ambiguous" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M11.5 1a.5.5 0 0 1 0-1h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V1.707l-3.45 3.45A4 4 0 0 1 8.5 10.97V13H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V14H6a.5.5 0 0 1 0-1h1.5v-2.03a4 4 0 1 1 3.471-6.648L14.293 1H11.5zm-.997 4.346a3 3 0 1 0-5.006 3.309 3 3 0 0 0 5.006-3.31z"/>
                        </svg>
                    </label>
                </fieldset>
            </label>

            <label class="pt-info" for="height">
                <strong>Height:</strong>
                <input class="form edit-pt-input" type="number" name="height" placeholder="height in inches" value="<%=patient.height%>" />
            </label>
          
            <label class="pt-info" for="weight">
                <strong>Weight:</strong>
                <input class="form edit-pt-input" type="number" name="weight"  placeholder="weight in lbs" value="<%=patient.weight%>" />
            </label>
            
            <label class="pt-info" for="medicalConditions">
                <strong>Medical conditions:</strong>
                <input class="form edit-pt-input" type="text" name="medicalConditions"  placeholder="medical conditions" value="<%=patient.medicalConditions%>" />
            </label>
           
            <label class="pt-info" for="drugAllergies">
                <strong>Drug Allergies:</strong>
                <input class="form edit-pt-input" type="text" name="drugAllergies"  placeholder="drug allergies" value="<%=patient.drugAllergies%>" />
            </label>
           
           
            <!-- <input class="btn btn-success btn-lg form mt-2 mb-2 hvr-float-shadow" type="submit" value="Update Information"/> -->
            <button class="btn btn-success btn-lg form mt-2 mb-2 hvr-float-shadow" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-arrow-up-fill" viewBox="0 0 16 16">
                    <path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 5.146a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2z"/>
                </svg>
                Update Information
            </button>
        </form>
        
        
        </div>
    </body>
</html>