<!DOCTYPE html>
<html>
    <head>
        <%- include ('../partials/head.ejs') %>
    </head>
    <body>

            
        <div class="container">
            <h1><%=patient.name%></h1>
            <div class="row">
                <div class="col-6">
                    <button class="btn btn-warning mb-3" onclick="location.href='/patients/<%=patient.id%>/edit'">Edit Patient Information</button>

                    <form action="/patients/<%=patient.id%>?_method=DELETE" method="POST">
                        <input class="btn btn-danger mb-3" type="submit" value="Delete Patient">
                    </form>
                </div>
                <div class="col-6">
                    <button class="btn btn-dark mb-3" onclick="location.href='/patients/'">Back To Patient List</button>
                </div>
                
                <div class="col-6">
                    <button class="btn btn-dark mb-3" onclick="location.href='/patients/<%=patient.id%>/visits/new'">Add New Visit</button>
                </div>

            </div>
            <div class="row">
                <div class="col-6">
                    <h2>DEMOGRAPHIC INFORMATION</h2>
              
                    <p><strong>Date of Birth:</strong> <%=patient.birthday%></p>
                    <p><strong>Gender:</strong> <%=patient.gender%></p>
                    <p><strong>Height:</strong> <%=patient.height%> inches</p>
                    <p><strong>Weight:</strong> <%=patient.weight%> lbs</p>

                    <h2>PAST MEDICAL HISTORY</h2>
                    <p><%=patient.medicalConditions%></p>

                    <h2>ALLERGIES</h2>
                    <p><%=patient.drugAllergies%></p>
                </div>
                
                <div class="col-6">
                    
                    <h2>VISIT SUMMARY</h2>
                    <% for (let i = 0; i < patient.visits.length; i ++ ) { %>
                        <div class="row">
                            <div class="col-9">

                                <p><strong>Date of Service:</strong> <%=patient.visits[i].dateOfService%></p>
                                <p><strong>Current Medication List:</strong> <%=patient.visits[i].rxList%></p>
                                <p><strong>Doctor's Orders:</strong> <%=patient.visits[i].drsOrders%></p>
                            </div>
                            <div class="col-3 d-flex align-items-center">
                                <button class="btn btn-warning mb-3" onclick="location.href='/patients/<%=patient.id%>/visits/<%= i %>/edit'">Edit</button>
                            
                                </div>
                            
                            </div>
                        
                        </div>
                    <% } %>
                </div>
            </div>

        </div>
    </body>
</html>