<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs')%>
<title>Patient Visit Form</title>
</head>
<body>

    <div class="container w-100">
            <h1 class="mt-5 mb-4">New Visit Information For <%=patient.name%></h1>
            <button class="btn btn-dark btn-lg mb-3 hvr-float-shadow" onclick="location.href='/patients/<%=patient.id%>'">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-list" viewBox="0 0 16 16">
                    <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                    <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
                </svg>
                Back To Patient Information
            </button>
    
            <br/>
            <form class="new-visit-info" action="/patients/<%=patient._id%>?_method=PUT" method="POST">
               
                <!-- shows the default current date in the date picker -->
                <label class="new-visit-summary" for="date">
                    <strong>Date of Service:</strong>
                    <input class="form new-visit-input" type="date" name="dateOfService" placeholder="Date of Service" value="<%= new Date().toLocaleDateString('en-CA') %>"/>
                </label>
               
                <label class="new-visit-summary" for="rxList">
                    <strong>Medication list:</strong>
                    <input class="form new-visit-input" type="text" name="rxList" placeholder="Medication list"/>
                </label>
              
                <label class="new-visit-summary" for="drsOrders">
                    <strong>Doctor's orders:</strong>
                    <textarea class="form mb-2 new-visit-input" type="text" name="drsOrders" placeholder="Doctor's orders"></textarea>
                </label>
              
                <!-- <input class="submit btn btn-success btn-lg mt-1 hvr-float-shadow" type="submit" value="Submit"/> 
                the shadow does not show up with input class, so I changed it to a button -->
                <button class="submit btn btn-success btn-lg mt-1 hvr-float-shadow" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                        <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                        <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
                    </svg>
                    Submit
                </button>
        </form>  
    </div>
</body>
</html>